<!doctype html>
<html lang="en">
    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>
            {{title}}
        </title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    
    <body>
        <header>
            {{>header}}
        </header>
        {{{body}}}
        <footer>
            {{>footer}}
        </footer>

        <script type="text/javascript" src="/javascripts/modernizr.js"></script>
        <script>window.JSON.parse || document.write('<script src="/javascripts/json2.js"><\/script>')</script>
        <script type="text/javascript" src="/javascripts/jquery.js"></script>
    </body>

</html>